


<section></section>

<!-- START FOOTER -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h3>Learn<span>Up</span></h3>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h3>Contact Info</h3>
                <ul>
                    <li><a href="#" class="links"><i class="fi fi-sr-phone-flip"></i> +123-456-7890</a></li>
                    <li><a href="#" class="links"><i class="fi fi-sr-envelope"></i> learnup&#64;gmail.com</a></li>
                    <li><a href="#" class="links"><i class="fi fi-sr-marker"></i> guayaquil, Ecuador</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">my profile</a></li>
                    <li><a href="#">collections</a></li>
                    <li><a href="#">academic resources</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h3>Follow Us</h3>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="credit">Created by <span>&copy; SCAMAIV</span> | All rights reserved</h1>
    </div>
</footer>

<!-- END FOOTER -->
