

<!-- START HEADING -->

<div class="title">
  <div class="heading">
      <h1>
          <span>r</span>
          <span>e</span>
          <span>c</span>
          <span>u</span>
          <span>r</span>
          <span>s</span>
          <span>o</span>
          <span>s</span>
      </h1>
      <div class="subtitle"><a [routerLink]="'/nivel'" (click)="scrollToTop()" >&lt;&lt; Volver</a></div>
  </div>
</div>

<!-- END HEADING -->



<!-- START RESOURCE MENU SECTION -->

<section class="review" id="review">
  <div class="swiper-container review-slider">
    <div class="swiper-wrapper">

        <div class="swiper-slide" #videoSlide (click)="toggleResource('videos')">
        <div class="box">
            <img src="https://images.unsplash.com/photo-1611162616475-46b635cb6868?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dmlkZW9zfGVufDB8fDB8fHww" alt="" />
            <h3>Videos</h3>
            <p>
            Esta sección contiene recursos visuales, como conferencias, tutoriales, demostraciones prácticas relacionados con temas académicos.
            </p>
            <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
        </div>
        </div>

        <div class="swiper-slide" #libroSlide (click)="toggleResource('libros')">
        <div class="box">
            <img src="https://plus.unsplash.com/premium_photo-1676422355165-d809008b8342?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bGlicm9zfGVufDB8fDB8fHww" alt="" />
            <h3>Libros</h3>
            <p>
              En esta sección, pueden encontrar una colección de obras digitales relacionados con diferentes áreas de estudio.
            </p>
            <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
        </div>
        </div>

        <div class="swiper-slide" #actividadSlide (click)="toggleResource('actividades')">
        <div class="box">
            <img src="https://images.unsplash.com/photo-1541692641319-981cc79ee10a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YWN0aXZpZGFkZXN8ZW58MHx8MHx8fDA%3D" alt="" />
            <h3>Actividades</h3>
            <p>
              Aquí se ofrecen una variedad de actividades interactivas diseñadas para fortalecer el aprendizaje.
            </p>
            <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
        </div>
        </div>

        <!-- <div class="swiper-slide">
        <div class="box">
            <img src="https://images.unsplash.com/photo-1635942046031-041e9baea8bd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGFydGljdWxvc3xlbnwwfHwwfHx8MA%3D%3D" alt="" />
            <h3>articulos</h3>
            <p>
              Esta sección contiene una selección de artículos académicos, informes de investigación, ensayos y otros documentos.
            </p>
            <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
        </div>
        </div> -->
    </div>
    </div>
</section>
<!-- END RESOURCE MENU SECTION -->



<ng-container *ngIf="resourceToShow === 'videos'">
  <app-resource-video
    [mostrarVideos]="mostrarVideos"
    [materiaId]="materiaId"
    [nivel]="nivel">
  </app-resource-video>
</ng-container>

<ng-container *ngIf="resourceToShow === 'libros'">
  <app-resouce-libro
    [mostrarLibros]="mostrarLibros"
    [materiaId]="materiaId"
    [nivel]="nivel">
  </app-resouce-libro>
</ng-container>

<ng-container *ngIf="resourceToShow === 'actividades'">
  <app-resource-actividad
    [mostrarActividades]="mostrarActividades"
    [materiaId]="materiaId"
    [nivel]="nivel">
  </app-resource-actividad>
</ng-container>

