

<!-- START HOME -->

<section class="home" id="home">
  <div class="content">
      <h3>Recursos educativos</h3>
      <span>Encuentra materiales educativos para cada nivel y materia</span>
      <p>Explora una amplia variedad de recursos educativos organizados por nivel y materia. Ya seas docente o estudiante, nuestra plataforma te ofrece herramientas y materiales diseñados para mejorar la experiencia de aprendizaje.</p>
      <a routerLink="/recursos" class="btn">Explorar Ahora</a>
  </div>
</section>

<!-- END HOME -->



<!-- START ABOUT SECTION -->
<section class="about" id="about">

  <h1 class="heading"> <span>  Acerca de</span> Nosotras </h1>

  <div class="row">

      <div class="video-container">
        <video src="/assets/img/vid1.mp4" autoplay loop muted></video>
        <h3>Los mejores recursos educativos</h3>
      </div>

      <div class="content">
        <h3>¿Por qué elegirnos?</h3>
        <p>Nos dedicamos a mejorar la educación a través de LearnUp que ofrece recursos educativos abiertos. Esta plataforma está diseñada tanto para docentes como para estudiantes, facilitando el acceso a materiales de alta calidad y fomentando un aprendizaje interactivo y colaborativo.</p>
        <p *ngIf="mostrarSegundoParrafo">Nuestra aplicación ofrece una amplia gama de recursos diseñados meticulosamente para elevar la experiencia educativa a nuevos niveles. Entre estos recursos se encuentran una diversidad de videos educativos, cuidadosamente seleccionados para abordar una variedad de temas y conceptos de manera visualmente estimulante. Estos videos no solo complementan los materiales de estudio, sino que también sirven como herramientas efectivas para explicar conceptos complejos de manera accesible.</p>
        <a class="btn" (click)="toggleSegundoParrafo()">{{ mostrarSegundoParrafo ? 'leer menos' : 'leer más' }}</a>
      </div>


  </div>

</section>

<!-- END ABOUT SECION -->
